@using PrimeCafeManagement.Models;
@model List<Order>;
<div class="row">
	<div class="card">
		<div class="card-header bg-light py-3">
			<h4 class="text-center"> Order Dashboard</h4>
		</div>
		<div class="card-body">
			<table class="table table-bordered table-striped table-hover text-center">
				<thead class="bg-secondary text-white text-center">
					<tr>
						<th class="py-3">Order Date</th>
						<th class="py-3">Customer</th>
						<th class="py-3">Order Title</th>
						<th class="py-3">OrderPrice</th>
						<th class="py-3">Order Number</th>
						<th class="py-3">Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (Order order in Model)
					{
						<tr>
							<td>@order.OrderDate.ToString("dd-MMM-yy")</td>
							<td>@order.User.Name</td>
							<td>@order.Title</td>
							<td>@order.Price</td>
							<td>@order.OrderNumber</td>
							<td>
								<a class="product-view" href="/Manager/CompleteOrder/@order.Id"> View | </a>
								<a class="confirm-modal-link" data-action="confirm" href="/Manager/CompleteOrder/@order.Id"> Confirm | </a>
								<a class="confirm-modal-link" data-action="cancel" href="/Manager/CancelOrder/@order.Id"> Cancel </a>

							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal" id="confirm-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

          
            <div class="modal-body" id="confirm-modal-body">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="confirm-yes">Yes</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" >No</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var OrderUrl = "";

            $(".confirm-modal-link").click(function(e) {
                e.preventDefault(); 

                let action = $(this).data("action");

                OrderUrl = $(this).attr("href");

                      let message = "Do you want to ";
                        if (action === "confirm") 
                        {
                        message += "Confirm";
                        } 
                        
                        else 
                        {
                        message += "Cancel";
                        }
                        
                        message += " this order?";

                    $("#confirm-modal-body").text(message);
               
                $("#confirm-modal").modal("show");
            });

            $("#confirm-yes").click(function () {
                window.location.href = OrderUrl;
            });
           
        });
    </script>
}
